[submodule "lib/log"]
	path = lib/log
	url = ../logtools
[submodule "lib/xptools"]
	path = lib/xptools
	url = ../xptools
[submodule "lib/scpi-server-tools"]
	path = lib/scpi-server-tools
	url = ../scpi-server-tools
